{% include "layout.html" %}

{% block content %}

			<form action="/randomize" method="post">
					<select name="region" style="margin-bottom:20px;">
					{% for region in regions %}
							<option value="{{ region }}">{{ region }}</option>
					{% endfor %}
					</select>
					<button type="submit">Refresh</button>
			</form>

      <br>
      <br>
    </div>

    <div class="col-xs 12 col-sm 12 col-md 12 col-lg-6 col-xl-6 d-inline-flex p-2">{% include 'MyMap.html' %}</div>

    </div>
  </div>
{% endblock %}
